@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    background: black;
  }
  header{
      display: flex;
      align-items: center;
      justify-content: center;
    width:100%;
    margin: 0;
    padding: 0;
    height:100px;
    font-size: 15px;
  }
  /* navbar */
  .navbar{
    color: #FFF;
    margin:30px 90px;
  }
  .navbar ul{
    list-style: none;
  }
  .navbar ul li {
    /* float: left; */
    display: inline-block;
    transition: .3s;
  }
  .navbar ul li a{
    padding: 10px 15px;
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 17px;
    margin-left:16px;
  }
  .navbar ul:hover li a{
    opacity: .3;
    filter: blur(1px);
  }
  .navbar ul li:hover a{
    text-decoration: none;
    opacity: 1;
    filter: blur(0);
    /* color: #591BC5;; */
  }
  .navbar ul li:hover{
    /* height: 45px; */
    transform: scale(1.4,1.4);
    /* padding-top: 30px;
    margin-top: -10px; */
   /* background: #EFEEF5; */
    text-decoration: none;
    transition: 0.3s;
    /* transform: skew(15deg); */
  }
  /* Logo */
  .logo{
    width: 35px;
    height: 35px;
    background: #EFEEF5;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
  }
  .logo span{
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
  }
  /* Header content & title & button*/
  .middle{
    display: flex;
    width: 100%;
    height: 75vh;
  }
  .header-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    color:  #EFEEF5;
  }
  .header-content h1{
    text-transform: uppercase;
    font-size: 3.5em;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #ffffff;
    font-weight: bolder;
    margin: 40px 0;
    transform: scale(1.1);
    filter: brightness(130%);
  }
  .header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
    margin-top: -5px;
  }
  .header-content button{
    width: 140px;
    margin:20px 10px;
    color: #591BC5;
    font-size: 17px;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: #EFEEF5;
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
  }
  .btns{
    display: flex;
  }
  .header-content button:hover{
    border-radius: 0;
  }
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  .nlogo{
    width: 50px;
    height: 50px;
  }
  .lft{
    margin-left: 30px;
    margin-right: 80px;
  }
  .lft p{
    margin-left: 10px;
    float: right;
  }
  #bck{
    object-fit: cover;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.7;
  }
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


.year1 {
  position: relative;
  font-size: 2rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: -30px;
  box-sizing: content-box !important;
}
.year1 h1 {
  font-size: 2rem;
  /* margin: -100px 0 30px; */
}
.countdown{
  display: flex;
  box-sizing: content-box !important;
}
.time1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  border: 1px solid white;
  padding: 25px;
  border-radius: 50%;
  z-index: 5;
  box-sizing: content-box !important;
}
.time1:nth-child(1)
{
  border: 3px solid rgb(240, 240, 128);
  /* color: rgb(238, 238, 181); */
}
.time1:nth-child(2)
{
  border: 3px solid rgb(122, 203, 230);
  /* color: rgb(195, 229, 240); */
}
.time1:nth-child(3)
{
  border: 3px solid rgb(97, 221, 97);
  /* color: rgb(182, 238, 182); */
}
.time1:nth-child(4)
{
  border: 3px solid pink;
  /* color: pink; */
}
.time1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: black;
  opacity: 0.5;
}
.time1 h2 {
  font-size: 1.5rem;
  margin: 0;
}

.time1 p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 640px) {
  .time h1 {
    font-size: 3.5rem;
  }
  .time1 {
    margin: 1rem;
  }
  .time1 h2 {
    font-size: 1.85rem;
    margin: 0 0 5px;
  }
  .time1 p {
    font-size: 1rem;
  }
}  
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 43%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 150%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.hvr{
  transition: .3s;
}
.hvr:hover{
   transform: scale(1.15) !important;
}
.sin{
  position: relative;
}
.sin::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100px;
  border-radius: 30px;
  background: black;
  opacity: 0.3;
  z-index: -3;
}
.footer{
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
.footer::before{
  content: '';
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  background: black;
  opacity: 0.7;
  z-index: -3;
}